//variables
@background: #bcd2e3;
@foreground: #7ea9c9;
@text: #305673;
@text-alt: darken(@text, 50%); //utilize darken function
@textBubble: #E2EBF3;

body {
    background-color: @background;
    display: grid;
    place-items: center;
}

#adviceBubble { // work on creating speech bubble effect
    margin-top: 2em;
    background-color: @textBubble;
    border: solid @text;
    border-width: 1em;
    .bubbles();
}

#app {
    background-color: @foreground;
    padding: 3em;
    text-align: center;
    .bubbles();
}
h1, h2, p{
    color: @text-alt;
}

//functions


//mixins
.bubbles {
    border-radius: 15px 50px;
    padding: 3em;
    height: 150px;
    width: 300px;
    //opacity: 0.5;
}
