//variables
@background: #bed0df;
@foreground: #3c641c;
@text: #d8dbe0; //utilize darken function

body {
    background-color: @background;
    display: grid;
    place-items: center;
}
#app {
    background-color: @foreground;
    padding: 3em;
    text-align: center;
    .borders();
}

//mixins
.borders {
    border-radius: 15px 50px;
}