//variables
@background: #bcd2e3;
@foreground: #7ea9c9;
@text: #305673;
@text-alt: darken(@text, 20%);
@textBubble: #E2EBF3;

body {
    background-color: @background;
    position: relative;
}

#adviceBubble {
    visibility: hidden;
    background-color: @textBubble;
    border: solid @text;
    .bubbles();
    height: 100px;
    border-radius: 50%;
    box-shadow: 5px 5px 3px @text-alt;
}

#app {
    background-color: @foreground;
    height: fit-content;
    .bubbles();
    text-align: center;
    margin-bottom: 10px;
    border: solid @foreground;
}

#buttons {
    height: 25px;
    border-radius: 50px;
    background-color: @textBubble;
    color: @text;
    font-weight: bold;
}

#info {
    display: grid;
    place-items: center;
}

#svg_coffee {
    position: sticky;
    width: 35%;
    height: 35%;
}

h1, h2, p {
    color: @text-alt;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

//mixins
.bubbles {
    border-width: 1em;
    padding: 1%;
    margin: auto;
    width: 33%;
}

@media screen and (max-width: 400px) {
    #adviceBubble{
        width: 90%;
    }
    #app {
        width: 90%;
    }
}