body {
  background-color: #bcd2e3;
  position: relative;
}
#adviceBubble {
  margin-top: 2em;
  background-color: #E2EBF3;
  border: solid #305673;
  border-radius: 15px 50px;
  border-width: 1em;
  padding: 1%;
  margin: auto;
  width: 33%;
  height: 100px;
}
#app {
  background-color: #7ea9c9;
  height: fit-content;
  border-radius: 15px 50px;
  border-width: 1em;
  padding: 1%;
  margin: auto;
  width: 33%;
  text-align: center;
  margin-bottom: 10px;
  border: solid #7ea9c9;
}
#buttons {
  height: 25px;
  border-radius: 50px;
  background-color: #E2EBF3;
  color: #305673;
  font-weight: bold;
}
#info {
  display: grid;
  place-items: center;
}
#svg_coffee {
  left: 0;
  position: absolute;
  width: 50%;
  height: 50%;
}
h1,
h2,
p {
  color: #12202b;
  font-family: Helvetica, sans-serif;
}
.bubbles {
  border-radius: 15px 50px;
  border-width: 1em;
  padding: 1%;
  margin: auto;
  width: 33%;
}
