body {
  background-color: #bcd2e3;
  position: relative;
}
#adviceBubble {
  margin-top: 2em;
  background-color: #E2EBF3;
  border: solid #305673;
  border-width: 1em;
  border-radius: 15px 50px;
  padding: 4%;
  height: 33%;
  width: 33%;
}
#app {
  background-color: #7ea9c9;
  padding: 3em;
  text-align: center;
  border-radius: 15px 50px;
  padding: 4%;
  height: 33%;
  width: 33%;
}
#info {
  display: grid;
  place-items: center;
}
#svg_coffee {
  left: 0;
  position: absolute;
  width: 50%;
  height: 50%;
}
h1,
h2,
p {
  color: #12202b;
}
.bubbles {
  border-radius: 15px 50px;
  padding: 4%;
  height: 33%;
  width: 33%;
}
