body {
  background-color: #bed0df;
  display: grid;
  place-items: center;
}
#adviceBubble {
  margin-top: 2em;
  background-color: #36546D;
  border-radius: 15px 50px;
  padding: 3em;
  height: 150px;
  width: 300px;
  opacity: 0.5;
}
#app {
  background-color: #3c641c;
  text-align: center;
  border-radius: 15px 50px;
  padding: 3em;
  height: 150px;
  width: 300px;
  opacity: 0.5;
}
.bubbles {
  border-radius: 15px 50px;
  padding: 3em;
  height: 150px;
  width: 300px;
  opacity: 0.5;
}
